@value constants: './constants.css';
@value b,r,g from constants;

.background {
    background: orange
}

/* only allowed when selector is single */
.title {
    /* 继承background的样式 */
    composes: background;
    color: yellowgreen;
}

.header {
    composes: fontSize from './other.css';
    padding: 30px;
}

:global(.global-title) {
    color: g;
}